.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 20px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  font-size: 7rem;
  margin: 3rem auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  font-weight: normal;
  color: #66bfbf;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  font-size: 2.5rem;
}

.introduction{
  font-size: 1.25rem;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0px;
}

a.cert-list:hover {
  color: #f6d0d0;
}

.skill-row {
  width: 60%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.light-bulb-img {
  float: left;
  margin-right: 30px;
}

.quality-img {
  float: right;
  margin-left: 30px;
}

.photo-description {
  color: #40514e;
  font-size: 1.5rem;
}

p {
  line-height: 2;
}


hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

div .contact-message {
  width: 33%;
  margin: 55px auto 60px;
  line-height: 2;
  font-size: 1.25rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11e999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11e999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11e999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11e999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11e999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.internal-cert {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

ul.programming-language-list-item {
  margin-left: 16.8rem;
  color: red;
  font-size: 1.25rem;
}

.cert-list {
  color: red;
  margin: 0px;
  width: 90%;
  font-size: 1.25rem;
}

@media (max-width: 800px) {

  .middle-container {
    margin: 0px;
  }

  .bottom-container {
    padding: 3% 0 0 2%;
  }

  h1 {
    font-size: 4rem;
    margin: 0px;
  }

  h2 {
    margin: 0px;
    font-size: 2.5rem;
    padding-top: 1rem;
  }

  h3 {
    margin: 0px;
    font-size: 2rem;
    text-align: center;
  }

  .introduction{
    font-size: 1.25rem;
    text-align: center;
  }

  ul.programming-language-list-item {
    color: red;
    margin: 0px;
    font-size: 1.25rem;
    /* width: 100%; */
  }

  .skill-row {
    width: 90%;
    margin: 5rem auto 5rem auto;
    text-align: left;
    line-height: 2;
  }

  .light-bulb-img {
    padding-bottom: 20px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    float: none;
    width: 100%;
  }

  .quality-img {
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }

  .cert-list {
    margin: 0px;
    width: 90%;
    font-size: 1.25rem;
  }

  .internal-cert {
    margin: 0px;
  }

  .top-cloud {
    width: 20%;
    position: absolute;
    right: 60%;
    top: 10%;
    bottom: 0.5%;
  }

  .bottom-cloud {
    width: 20%;
    position: absolute;
    left: 58%;
    bottom: 33%;
  }

  #mountain-img {
    width: 85%;
  }

  #myPhoto {
    width: 70%;
    margin-top: 50px;
  }

  .photo-description {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  div .contact-message {
    width: 90%;
    margin: 20px auto 20px;
    line-height: 1.5;
    font-size: 1.25rem;
  }


  .bottom-container {
    max-height: 90px;
    padding: 5px;
  }


  #engineer{
    margin-left: 1rem;
    font-size: 2rem;
    width: 95%;
    text-align: center;
  }

  hr {
    width: 15%;
    margin: 80px auto;
  }

  .btn{
    margin-bottom: 50px;;
  }

  a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 20px 20px;
    text-decoration: none;
    font-size: 0.85rem;
  }
  
  .copyright {
    color: #eaf6f6;
    font-size: 0.85rem;
    padding: 5px 0px;
  }

  .email{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
